<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>network.dragonfruit.onionfruitd</string>
	<key>BundleProgram</key>
	<string>Contents/MacOS/onionfruitd</string>
	<key>MachServices</key>
	<dict>
		<key>network.dragonfruit.onionfruit.xpc</key>
		<true/>
	</dict>
</dict>
</plist>
